/* Footer.css */

.footer {
  background-color: #333; /* Fondo oscuro por defecto */
  color: #fff;
  padding: 20px 0;
}

@media (prefers-color-scheme: light) {
  /* Si el dispositivo prefiere un tema claro, ajusta los estilos aquí */
  .footer {
    background-color: #f8f9fa; /* Fondo claro */
    color: #333;
  }
}
